/* banner-section */
.banner_section {
    background-image: url("../images/about-jayden-banner.png");
    padding: 0 10px;
  }

.banner_text_div {
    width: 100%;
}
.banner_text_div h1{
   
    font-size: 94px;
    display: block;
    line-height: 70px;
}

/* benefit_section */

.banner_section_2 {
    background-image: url("../images/about-jayden-2nd-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
   
  }
.benefit_content_div {
    display: flex;
    color: #000;
    justify-content: space-between;
    padding: 60px 10px;
  }
  .benefit_content_div h3 {
    font-size: 46px;
    line-height: 50px;
    width: 55%;
  }
  .border_left_top{
    height: 200px;
    padding-left: 20px;
  }
  .benefit_section {
    text-align: start;
  }

  .first_part li{
    color: #999;
    margin-left: 20px;
    margin-top: 0;
  }
  .title_border{
    margin: 12px 0;
  }