/* banner-section */
.banner_section {
    background-image: url("../images/about-jayden-banner.png");
    padding: 0 10px;
  }
  .banner_text_div {
    padding: 150px 10px;
    color: #fff;
  }
  .banner_text_div h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 70px;
  }
  .banner_text_div h4 {
    font-size: 35px;
    font-weight: 500;
    line-height: 70px;
  }
.banner_text_div {
    width: 100%;
}


/* benefit_section */

.banner_section_2 {
    background-image: url("../images/about-jayden-2nd-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
   
  }
.benefit_content_div {
    display: flex;
    color: #000;
    justify-content: space-between;
    padding: 60px 10px;
  }
  .benefit_content_div h3 {
    font-size: 46px;
    line-height: 50px;
    width: 55%;
  }
  .border_left_top{
    height: 200px;
    padding-left: 20px;
  }
  .benefit_section {
    text-align: start;
  }
  .benefit_content_div{
    align-items: center;
  }
  .benefit_content_div h3{
    width: 70%;
  }
  .border_left{
    height:150px;
    display: flex;
    align-items: center;
  }
.title_border{
  height: 5px;
}
  .first_part li{
    color: #999;
    margin-left: 20px;
    margin-top: 0;
  }
  .title_border{
    margin: 12px 0;
  }

  .experience_section{
    background-image: url("../images/abot-jaydin-edu-banner.png");
  }
  .experience_section_text h2{
    font-size: 42px;
  }
  .experience_section_text h4{
    font-size: 25px;
    font-weight: normal;
  }
  .benefit_content_div p{
    color: #999;
  }