@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
  h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  img {
    width: 90%;
  }

  .gap {
    margin-bottom: 50px;
  }

  .btn {
    padding: 12px 20px;
    font-size: 12px;
  }
  
  /* header nav */
  .header {
    padding: 10px 0;
  }
  .nav-logo {
    font-size: 23px;
  }

  /* banner */

  .banner_text_div {
    padding: 100px 0;
    text-align: center;
  }

  .banner_text_div p {
    width: 90%;
    text-align: center;
    margin: 10px auto;
  }

  /* financial section */
  .financial_section {
    flex-direction: column-reverse;
  }
  .financial_section div {
    width: 100%;
  }

  /* management section  */
  .management_section {
    flex-direction: column;
    gap: 20px;
  }
  .management_section div {
    width: 100%;
  }
  .management_title{
    padding: 15px 0px 15px 20px;
  }
  
  .management_first_part .management_title::before{
    content: "";
      position: absolute;
      height: 100%;
      width: 118px;
      top: 0;
      left: 0;
     
      z-index: -1;
      border-radius: 2px;
  }    

  
/* experience_section */
.experience_section_text h2{
  width: 100%;
}

/* service section */
.service_section {
 flex-direction: column;
 gap: 30px;
}
.service_card {
  padding: 25px 40px;
}

.service_section_2{
  flex-direction: column-reverse;
}

.service_section div {
  width: 100%;
}
.service_text div {
  width: 10%;
}
.service_text h2 {
  text-align: center;
  width: 100%;
}
.service_text {
  flex-direction: column-reverse;
  gap: 25px;
  text-align: center;
}
.service_text_1{
  flex-direction: column;
}

.triangle_l {
  display: none;
}
.triangle_r {
    display: none;
  }
.triangle_b {
  display: block;
}


.card_2 h3{
  text-align: center;
}

/* footer */

.footer_div{
  gap: 20px;
}
.footer_top , .footer_bottom{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer_bottom{
  flex-direction: column-reverse;
}
.footer_bottom p{
  font-size: 15px;
  margin-top: 16px;
}
.footer_bottom ul li{
  margin-top: 25px;
}

.footer_hr{
  margin: 0 0 10px;
  width: 100%;
}

}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  p {
    font-size: 15px;
  }

  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  h2 {
    font-size: 36px;
    line-height: 50px;
  }
  h3 {
    font-size: 31px;
    line-height: 70px;
  }
  h4 {
    font-size: 25px;
    line-height: 30px;
  }
  .gap {
    margin-bottom: 80px;
  }
  img {
    width: 90%;
  }

  .btn {
    padding: 15px 22px;
  }

  /* header nav */
  .header {
    padding: 10px 0;
  }
  .nav-logo {
    font-size: 23px;
  }
  /* banner */

  .banner_text_div {
    padding: 100px 0;
  }

  .banner_text_div p {
    width: 70%;
  }

  /* financial section */
  .financial_section {
    flex-direction: column-reverse;
  }
  .financial_section div {
    width: 100%;
  }

  /* management section  */
  .management_section {
    flex-direction: column;
    gap: 30px;
  }
  .management_section div {
    width: 100%;
  }
  .management_title{
    width: 100%;
    padding: 25px 0px 25px 43px;
  }
  
  .management_first_part .management_title::before{
    content: "";
      position: absolute;
      height: 100%;
      width: 230px;
      top: 0;
      left: 0;
      background: var(--a);
      z-index: -1;
      border-radius: 2px;
  }    

    
/* experience_section */

.experience_section_text h2{
  width: 100%;
}
/* service section */
.service_section {
  flex-direction: column;
  gap: 30px;
 }
 .service_card {
   padding: 50px 40px;
 }
 .service_section_2{
   flex-direction: column-reverse;
 }
 .service_section div {
   width: 100%;
 }
 
 .service_text div {
  width: 10%;
}
.service_text h2 {
  text-align: center;
  width: 100%;
}
.service_text {
  flex-direction: column-reverse;
  gap: 25px;
  text-align: center;
}
.service_text_1{
  flex-direction: column;
}

.triangle_l {
  display: none;
}
.triangle_r {
    display: none;
  }
.triangle_b {
  display: block;
}
 
 .card_2 h2{
   text-align: center;
 }

/* footer */
.footer_hr{
  width: 40%;
}
}
