@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #352110;
  --secondary: #301e0e;
  --a: #867a70;
  --b: #726458;
  --e: #5d4d40;
  --c: #493728;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
p {
  font-size: 15px;
  color: #999999;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}
h2 {
  font-size: 48px;
  font-weight: 500;
}
h3 {
  font-size: 36px;
  font-weight: 500;
}
h4 {
  font-size: 30px;
  font-weight: 500;
}

img {
  width: 100%;
}
.gap {
  margin-bottom: 80px;
}
.title_border {
  width: 100px;
  height: 3px;
  background-color: var(--c);
  margin-top: 15px;
}
.btn {
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: var(--b);
}
.section_bg {
  background-color: #f9f9f9;
  padding: 100px 0;
}
.padding_side {
  padding: 0 20px;
}
/* banner */
.banner_section {
  background-image: url("../images/banner.png");
  background-color: var(--primary);
  opacity: 1;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_text_div {
  padding: 250px 20px;
  color: #fff;
}
.banner_text_div h1 {
  margin-bottom: 10px;
}
.banner_text_div p {
  width: 50%;
  margin: 20px 0;
}

.banner_btn {
  background: #000;
}

/* financial section */
.financial_section {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.financial_section div {
  width: 50%;
}
.first_part p {
  margin: 30px 0;
}

.second_part img {
  border-radius: 30px;
}

/* management section  */

.management_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.management_section div {
  width: 50%;
}
.management_first_part {
  display: flex;
  position: relative;
}
.management_first_part div {
  width: 40%;
}
.box {
  width: 100px;
  height: 160px;
  background-color: var(--a);
  border-radius: 2px;
}
.management_title {
  position: absolute;
  top: 3%;
  left: 60px;
  width: 95%;
}

.hide {
  display: none;
}

/* experience_section */
.experience_section {
  background-image: url("../images/experience-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.experience_section_text {
  /* width: 50%; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experience_section_text p {
  margin: 20px;
}
.experience_section_text h2 {
  width: 60%;
}

/* service section */
.service_section {
  display: flex;
  gap: 20px;
}
.service_section div {
  width: 50%;
}
.service_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.service_text h3 {
  text-align: right;
  width: 100%;
}

.service_text img {
  width: 80px;
  height: 100px;
}

.service_card {
  border-radius: 28px;
  padding: 80px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_2 h3{
  text-align: start;
}
.service_card p{
  text-align: center;
}

/* footer */

.footer_bg{
  background-image: url("../images/banner.png");
  background-color: #000000b0;
  opacity: 1;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.footer_div{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer_left , .footer_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_right p{
  font-size: 22px;
  color: #fff;
}
.footer_right ul li{
  list-style: none;
  margin-top: 25px;
}
.footer_right hr{
  margin-top: 20px;
}